*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(51, 43, 32);
}
body{
    background-color: hsla(34, 9%, 56%, 0.74);
}
button{
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1.2rem;
    font-weight: bold;
    padding: 2px 4px;
    background-color: hsla(33, 24%, 47%, 0.74);
}